<!-- partial view imported into other views -->
<div class="buttons-wrapper">
    <a href="/" class="logo">
        <img class="logo-img" src="/logo.png" alt="tasteBin">
    </a>
    <div class="buttons">
        <a class="button" href="/new">New</a>

        <% if (locals.id != null) { %>
            <a class="button" href="/<%= locals.id %>/duplicate">Duplicate</a>
            <button class="button" onclick="copyToClipboard()">Share</button>
        <% } %>

        <% if (locals.canSave) { %>
            <button class="button" type="submit">Save</button>
        <% } %>
    </div>
</div>

<script>
    function copyToClipboard() {
        const url = window.location.href;
        navigator.clipboard.writeText(url).then(() => {
            alert('Copied to clipboard:\n' + url);
        }).catch((err) => {
            console.error('Failed to copy: ', err);
        });
    }
</script>